body{
    padding: 5% 10%;
    background: url('/front/img/film.jpg');
}

header {
    padding: 10px;
}

main{
    
    padding: 10px;
    opacity: 0.9;
}

img{
  margin-right: 20px;  
}

footer{
    background-color: moccasin;
    color: black;
    padding: 10px;
    opacity: 0.9;
}

section{
    margin-top: 10px;
}
